#ya-site-results {
    color: #222222;
    background: #FFFFFF;
}
#ya-site-results .b-head__logo {
    margin-bottom: 0;
}
#ya-site-results .b-serp-item__image-snippet {
    left: 30px;
}
#ya-site-results .b-top-wizard {
    display: none;
}
#ya-site-results .b-head {
    height: 35px!important;
    padding: 0!important;
    display: none;
}
#ya-site-results .b-head__l {
    padding: 0 0 0 30px!important;
    height: 30px;
}
#ya-site-results .b-head__r {
    height: 30px;
    margin: 0 0 5px 0;
    padding: 0 0 0 10px!important;
}
#ya-site-results .b-serp-item {
    margin-bottom: 15px;
}
#ya-site-results .b-serp-item__links {
     margin-top: 2px;
}
#ya-site-results .b-body-items {
    padding-left: 30px;
}

#ya-site-results .b-serp-item__number {
    color: #222222 !important;
    margin: 1px 0 0 0!important;
}

#ya-site-results {
    font-family: Arial !important;
}

#ya-site-results :visited,
#ya-site-results .b-pager :visited,
#ya-site-results .b-pager :visited,
#ya-site-results .b-foot__link:visited,
#ya-site-results .b-copyright__link:visited {
    color: #222222;
}

#ya-site-results a:link,
#ya-site-results a:active,
#ya-site-results .b-pseudo-link,
#ya-site-results .b-head-tabs__link,
#ya-site-results .b-head-tabs__link:link,
#ya-site-results .b-head-tabs__link:visited,
#ya-site-results .b-dropdown__list .b-pseudo-link,
#ya-site-results .b-dropdowna__switcher .b-pseudo-link,
#ya-site-results .b-popupa .b-popupa__content .b-menu__item,
#ya-site-results .b-foot__link:link,
#ya-site-results .b-copyright__link:link,
#ya-site-results .b-serp-item__mime,
#ya-site-results .b-pager :link {
    color: #1F6BA2;
}

#ya-site-results :link:hover,
#ya-site-results :visited:hover,
#ya-site-results span.b-pseudo-link:hover {
    color: #222222 !important;
}

#ya-site-results .l-page,
#ya-site-results .b-bottom-wizard {
    font-size: 13px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#ya-site-results .b-pager {
    font-size: 13px;
    padding: 0!important;
    margin: 0!important;
    display: inline-block;
}
#ya-site-results .b-pager_pages {
    margin-top:5px;
}

#ya-site-results .b-serp-item__text,
#ya-site-results .ad {
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-serp-item__title-link,
#ya-site-results .ad .ad-link {
    font-style: normal;
    font-weight: bold;
}

#ya-site-results .ad .ad-link a {
    font-weight: bold
}

#ya-site-results .b-serp-item__title,
#ya-site-results .ad .ad-link {
    font-size: 13px;
}

#ya-site-results .b-serp-item__title-link:link,
#ya-site-results .b-serp-item__title-link {
    font-size: 13px;
    text-decoration: none;
}

#ya-site-results .b-serp-item__number {
    font-size: 13px;
}

#ya-site-results .ad .ad-link a {
    font-size: 13px;
}

#ya-site-results .b-serp-url,
#ya-site-results .b-direct .url,
#ya-site-results .b-direct .url a:link,
#ya-site-results .b-direct .url a:visited {
    font-size: 13px;
    font-style: normal;
    font-weigth: normal;
    color: #1F6BA2;
}

#ya-site-results .b-serp-item__links-link {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #222222 !important;
}

#ya-site-results .b-pager__inactive,
#ya-site-results .b-serp-item__from,
#ya-site-results .b-direct__head-link,
#ya-site-results .b-image__title,
#ya-site-results .b-video__title {
    color: #222222 !important;
}

#ya-site-results .b-pager__page {
    line-height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    text-decoration: none !important;
    color: #222222 !important;
}
#ya-site-results .b-pager__page:hover {
    background-color: #94AAB3;
}
#ya-site-results .b-pager__current {
    background-color: #94AAB3;
    line-height: 30px;
    width: 30px;
    float: left;
    text-align: center;
    padding: 0;
}
#ya-site-results .b-pager__select {
    background-color: #94AAB3;
}

#ya-site-results .b-foot,
#ya-site-results .b-line {
    border-top-color: #94AAB3;
}

#ya-site-results .b-dropdown__popup .b-dropdown__list,
#ya-site-results .b-popupa .b-popupa__content {
    background-color: #FFFFFF;
}

#ya-site-results .b-popupa .b-popupa__tail {
    border-color: #94AAB3 transparent;
}

#ya-site-results .b-popupa .b-popupa__tail-i {
    border-color: #FFFFFF transparent;
}

#ya-site-results .b-popupa_direction_left.b-popupa_theme_ffffff .b-popupa__tail-i,
#ya-site-results .b-popupa_direction_right.b-popupa_theme_ffffff .b-popupa__tail-i {
    border-color: transparent #FFFFFF;
}

#ya-site-results .b-dropdowna__popup .b-menu_preset_vmenu .b-menu__separator {
    border-color: #94AAB3;
}

#ya-site-results .b-specification-list,
#ya-site-results .b-specification-list .b-pseudo-link,
#ya-site-results .b-specification-item__content label,
#ya-site-results .b-specification-item__content .b-link,
#ya-site-results .b-specification-list .b-specification-list__reset .b-link {
    color: #222222 !important;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-calendar__title {
    color: #222222;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
}

#ya-site-results .b-calendar-month__day_now_yes {
    color: #94AAB3;
}

#ya-site-results .b-calendar .b-pseudo-link {
    color: #222222;
}

#ya-site-results .b-popupa .b-popupa__tail-i {
    background: #FFFFFF;
    border-color: #94AAB3 !important;
}