<style>
    .annons-block {
        width: 100%;

        background-color: #b7b5b6;

        padding: 1.1em 0;
    }

    .annons-block .a-block {
        width: 180px;
        /*height: 150px;*/

        float: left;

        margin-left: 1.1em;
        margin-right: 1.1em;
    }
    /*.annons-block .a-block:last-child {
        margin-right: 0;
    }*/

    .annons-block .a-img {
        width: 180px;
        height: 150px;
    }

    .annons-block .a-title {
        border-top: 3px solid #b7b5b6;
        background-color: #e4dfe0;
        padding: 0.5em 0.5em;
    }

    .annons-block a {
        text-decoration: none !important;
    }
</style>

<div class="annons-block">
    {% for o in objs %}
        <div class="a-block">
            <a href="{{o.url}}">
                <img class="a-img" src="{{o.image.url}}" />
                <h3 class="a-title">{{o.title}}</h3>
            </a>
        </div>
    {% endfor %}

    <div class="clearfix"></div>
</div>
