{% load sidebar blogs news subscribes polls banners banneradds_extra %}
{% display_banner_square "ban250" %}
{% include "includes/search.html" %}
{% show_banner "sidebar" 1 %}
{% show_currency %}
{% show_weather %}
{% show_banner "sidebar" 1 %}
{% show_popular %}
{#% show_namaz_umma_ru %#}
{% show_polls %}
{% show_slidebox "tureckij-biznes-v-rossii" %}
{#% show_namaz_times %#}
{% show_banner "sidebar" 3 "js" %}
{% show_sidebar_blogs %}
{% show_banner "sidebar" 5 "js" %}
{% show_banner "sidebar" 0 "js" %}
<script src="http://mkkiev.in.ua/informer/"></script>
{% show_subscribe_form %}
