{% extends "page.html" %}
{% load common %}
{% block title %}{% title %}Страница не найдена (404 ошибка){% endtitle %}{% endblock %}
{% block page_header %}
    <h1 class="list_page_header">
        Страница не найдена (404 ошибка)
    </h1>
{% endblock %}
{% block page_content %}
    <div class="detail_page-content">
        <p>Здравствуйте, уважаемый посетитель.</p>
        <p>К сожалению, запрашиваемой Вами страницы не существует на нашем сайте.
        <p>Возможно, это случилось по одной из этих причин:</p>
        <ul>
            <li>Вы ошиблись при наборе адреса страницы (URL)</li>
            <li>перешли по «битой» (неработающей, неправильной) ссылке</li>
            <li>запрашиваемой страницы никогда не было на сайте или она была удалена</li>
        </ul>
        <p>Мы просим прощение за доставленные неудобства и предлагаем следующие пути:
        <ul>
            <li>вернуться назад при помощи кнопки браузера back</li>
            <li>проверить правильность написания адреса страницы (URL)</li>
            <li>перейти на <a href="/">главную страницу</a> сайта</li>
            <li>воспользоваться картой сайта или поиском</li>
        </ul>
        <p>Если Вы уверены в правильности набранного адреса страницы и считаете, что эта ошибка произошла по нашей вине, пожалуйста, сообщите об этом разработчикам (или владельцам) сайта при помощи контактной формы или электронной почты.</p>
    </div>
{% endblock %}