{% extends "layout.html" %}
{% load common %}
{% block title %}{% endblock %}
{% block page %}
    <article class="detail_page">
        {% block page_top %}{% endblock %}
        {% block page_header %}
            <h1 class="page_header">
            </h1>
        {% endblock %}
        {% block page_content %}
            <div class="detail_page-content">
            </div>
        {% endblock %}
        {% block page_footer %}
            <footer class="detail_page-footer">
            </footer>
        {% endblock %}
    </article>
{% endblock %}
