{% extends "layout.html" %}
{% load i18n comments %}
{% block title %}{% trans "Preview your comment" %}{% endblock %}
{% block page %}
<div class="news article_detail">
	<div class="row">
		<div class="column c4">
        	<form id="comments_form" style="border:none;padding-top:0px;" action="{% comment_form_target %}" method="post">{% csrf_token %}
        		{% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
        		{% if form.errors %}
        		<h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
        		{% else %}
        		<h1>{% trans "Preview your comment" %}</h1>
        			<blockquote>{{ comment|linebreaks }}</blockquote>
        			<p>
        			{% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
        			</p>
        		{% endif %}
        		{% for field in form %}
        			{% if field.is_hidden %}
        				<div>{{ field }}</div>
        			{% else %}
        				{% if field.errors %}
        				<div>
        					<div class="comments-lt"></div>
        					<div class="comments-rt">{{ field.errors }}</div>
        				</div>
        				{% endif %}
        				<div 
        					{% if field.errors %} class="error"{% endif %}
        					{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        					<div class="comments-lt">{{ field.label_tag }}</div><div class="comments-rt">{{ field }}</div>
        				</div>
        			{% endif %}
        		{% endfor %}
        		<div>
        			<div class="comments-lt"></div>
        			<div class="comments-rt">{% include "comments/recaptcha.inc.html" %}</div>
        		</div>
        		<div class="submit">
        			<div class="comments-lt"></div>
        			<div class="comments-rt">
        				<input type="submit" name="submit" class="submit-post" value="{% trans "Post" %}" />
        				{#<input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />#}
        			</div>
        		</div>
        	</form>
		</div>
	</div>
</div>
{% endblock %}
